/* GLOBAL --------------------------------------------------------------- */

body {
    background-color: #F7A5A5;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

h1, h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.title {
    font-size: 50px;
    color: #ffffff;
    text-shadow: 6px 0px 0px black;
    margin-top: 20px;
}


/* VIDEO --------------------------------------------------------------- */

.divVideo {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

video {
    border-radius: 12px;
}


/* BUTTONS -------------------------------------------------------------- */

.divButtons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.buttons {
    width: 130px;
    height: 70px;
    border-radius: 12px;
    border: 2px solid white;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    background-color: #1A2A4F;
    font-size: 20px;
    transition: 300ms ease;
}

.buttons:hover {
    cursor: pointer;
    color: #1A2A4F;
    background-color: #ffffff;
    border: 2px solid #1A2A4F;
    box-shadow: 0px 0px 20px black;
}

/* Når INGEN knap er hovered → ingen blur */
.divButtons {
    filter: none;
}

/* Når EN knap er hovered → blur ALLE knapper */
.divButtons:has(.buttons:hover) .buttons {
    filter: blur(3px);
    opacity: 0.5;
    transition: 0.3s ease;
}

/* Den knap du faktisk hovrer bliver skarp */
.divButtons .buttons:hover {
    filter: none;
    opacity: 1;
    transform: scale(1.05);
}



/* CHART CARD -------------------------------------------------------------- */

.chart-wrapper {
    width: 650px;
    margin: 50px auto;
    padding: 30px;
    background-color: #1A2A4F;
    border-radius: 25px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.20);
}

.chart-inner {
    background-color: #FFF2EF;
    padding: 30px;
    border-radius: 18px;
    height: 380px;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}


.fade-in {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.9s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}